.Cards {
  width: 85%;
  margin: 70px 20% 0 9%;
}

.CardImage {
  width: 80%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
}
.CardTittle {
  width: 100%;
  padding-top: 20px;
  font-weight: 600;
}
.CardTittle p {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  height: fit-content;
  margin-top: -4px;
  text-align: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.CardImage2 {
  width: 80%;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
}
.CardTittle2 {
  width: 100%;
  padding-top: 20px;
  font-weight: 600;
}
.CardTittle2 p {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  height: fit-content;
  margin-top: -4px;
  text-align: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .CardImage {
    height: 175px;
  }
}
